.Cart-container {
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: underline;
  color: brown;
  margin: 0 5px;
}

.cart-items {
  margin: 0 10px;
}

.cart-btn {
  color: rgb(255, 254, 253);
  background-color: rgb(255, 0, 0);
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
