.SingleProduct-container {
}

.wrapper {
  display: flex;
  width: 100vw;
}

.wrapper-image {
  flex: 1;
}

.wrapper-image img {
  width: 100%;
}

.wrapper-info {
  margin-top: 100px;
  flex: 1;
}
.wrapper-info-title {
  margin: 20px;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(206, 126, 36);
}
.wrapper-info-desc {
  margin: 10px 20px;
}
.wrapper-info button {
  border: 1px solid red;
  width: 100px;
  height: 20px;
  color: white;
  background-color: red;
  border-radius: 5px;
}
